# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build targets
build
build_output
build_type

# YouCompleteMe related files
compile_commands.json
.ycm_extra_conf.py*
