# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build targets
build_output/*/bin/*
build_output/*/lib/*

# YCM
.ycm_extra_conf.py*
